<div class="welcomePage">
    <div class="grid-first">
    
    <img class="welcomeImage" src="welcome.png" alt="front-image" width=100%;>
</div>
    <div class="grid-second">
        <p> If you want to join us, </p>
        <p>  please sign-up/sign-in first! </p>
    </div>
</div>

    <a href="/auth/login" class="click-btn">Click Here</p>
