<div class="welcomePage">
    <div class="grid-first">
    
    <img class="welcomeImage" src="welcome.png" alt="front-image">
</div>
    <div class="grid-second">
        <p> If you want to join us, please sign-up/sign-in first! </p>
    </div>
</div>
<div class="click-here">
    <p class="click-btn">Click Here</p>
</div>